.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
  padding-top: 16px;

  .tab {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: .7em 1em .5em;
    background-color: #ffffff;
    color: #999;
    font-weight: 600;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
  }
  
  .tab:hover {
    opacity: .8;
  }
  
  .tabContent__active {
    border-bottom: 4px solid #ebbf9a;
    color: #ebbf9a;
  }

  @media screen and (max-width: 460px) {
    .tab {
      padding: 0.5em 0em 0.5em;
      font-size: 11px;
    }
  }
}

