.achievements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;

  .title {
    width: 240px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(transparent 70%, #EBBF9A 70%);
  }

  .achievementsDetail {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 720px;
    margin-top: 32px;
    border: 2px solid #eebf9a;
  }

  .subTitle {
    position: absolute;
    top: -.75em;
    left: 1em;
    padding: 0 .5em;
    background-color: #fff;
    color: #eebf9a;
    font-size: 18px;
    font-weight: 600;
  }

  .achievementsList {
    max-width: 400px;
  }

  .achievementText {
    font-size: 14px;
    margin-top: 16px;
  }

  .achievement {
    padding: .3em .3em .3em 0;
  }
}