@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin: 32px;
  color: #4d4d4d;
}

.list {
  list-style: disc;
  margin: 1.5em 1em 1em 2.5em;
}