.hobbies {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 80px;

  .hobbie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .hobbieList {
    position: relative;
    max-width: 400px;
    margin: 16px;
    border: 2px solid #eebf9a;
  }

  .title {
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(transparent 70% , #EBBF9A 70%);
  }

  .subTitle {
    position: absolute;
    top: -1.15em;
    left: -.5em;
    padding: .4em 1.4em;
    border-radius: 25px;
    background-color: #eebf9a;
    color: #fff;
    font-size: .9em;
  }

  .subTitle::before {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 8px;
    background-color: #eebf9a;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
  }

  .hobbieDetail + .hobbieDetail {
    margin-top: 8px;
  }

  .hobbieListText {
    font-size: 14px;
    margin-top: 8px;
  }

  .hobbieImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}




